.root {
    -fx-background-color: #d6e6f2;
    -fx-font-family: Calibri sans-serif;
    -fx-font-size: 14;
    -fx-text-fill: #283747;
}

.label{
    -fx-text-fill: #154360;
}

.button{
    -fx-background-color: linear-gradient(#b9d7ea, #85B1E4);
    -fx-text-fill: #283747;
}

.vbox {
    -fx-border-color: #000000;
    -fx-border-width: 1px;
}

.hbox {
    -fx-border-color: #000000;
    -fx-border-width: 1px;
}

#submissionDisplay {
    -fx-background-color: #FFFFFF;
    -fx-font-family: Consolas;

}

/*colour palette*/
/*#f7fbfc*/
/*#d6e6f2*/
/*#b9d7ea*/
/*#769fcd*/
/*#154360*/
