.root {
    -fx-background-color: "#d6e6f2";
    -fx-font-family: sans-serif;
    -fx-font-size: 14;
    -fx-text-fill: #283747;
}

.label{
    -fx-text-fill: #283747;
}

.button{
    -fx-background-color: linear-gradient(#b9d7ea, #85B1E4);
    -fx-text-fill: #283747;

}

.root.popup {
    /* declarations */
}


/*.first-color {*/
/*    background: #f7fbfc;*/
/*}*/

/*.second-color {*/
/*    background: #d6e6f2;*/
/*}*/

/*.third-color {*/
/*    background: #b9d7ea;*/
/*}*/

/*.fourth-color {*/
/*    background: #769fcd;*/
